.header {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  padding: 35px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* nav-menu */
nav {
/*   width: 65%; */
  flex-grow: 3;
}
.nav_menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  flex-grow: 1;
}


label{
    display: block;
    margin-left: auto;
    background-color: aquamarine;
    width: 30px;
    height: 30px;
}
.toggle-btn{
    display: block;
width: 25px;
height: 2px;
background-color: black;
}

@media screen  and (max-width:767px){
    .nav_menu{
        display: none;
    }
}